numpy==2.2.5
pandas==2.2.3
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
rdflib==7.1.4
rml-py @ git+https://github.com/junli-liang-johnny/rml-py.git@a2e0d494cfade082628396ee559156a06e8c83c7
six==1.17.0
tzdata==2025.2
